<div id="issues">
  <%#<input id="search" v-model="searchText" />%>

  <%#<ul>%>
    <%#<li v-for="issues | filterBy searchText in 'number'"> %>
      <%#Issue: #{{number}} Had Spend: {{hour}}:{{minutes}}%>
    <%#</li>%>
  <%#</ul>%>
</div>

<div id="react"></div>
