#members {
  margin-top: 30px;
  h2 {
    margin-bottom: 0;
  }
  table {
    margin: 5px 0;
    td {
      font-size: 1.1em;
    }
  }
}

#new_participation {
  input, select {
    display: inline-block;
  }
}
