* {
  margin: 0;
  padding: 0
}
body {
  width: 400px;
  max-height: 500px;
  overflow-y: auto;
  margin: 15px;
}
h2 {
  margin-bottom: 15px;
}
h2 a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  outline: none;
}
h2 a:visited {
  text-decoration: none;
  color: black;
}
.center {
  text-align: center;
}
p.alert {
  color: red;
  font-size: 12px;
  margin: 3px 0;
}
#login {
  display: block;
  text-align: center;
}
input#useremail, input#password {
  width: 360px;
  margin: 5px auto;
  font-size: 14px;
  padding: 8px 5px;
}
#loginbutton {
  font-size: 14px;
  background-color: #4183C4;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 10px 5px;
  width: 350px;
  margin: 5px auto;
  text-decoration: none;
}
#tagtime {
  display: none;
}
input#input_time {
  width: 300px;
  float: left;
  margin: 0;
  font-size: 14px;
  padding: 8px 5px;
}
input#input_time:focus {
  border-color: #4183C4;
  outline: none;
}
input[type='submit'] {
  font-size: 14px;
  background-color: #4183C4;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  padding: 10px 18px;
}
.clear {
  clear: both;
}
ul {
  margin: 10px 5px;
  list-style-type:none
}
ul#taglist li {
  font-size: 14px;
  padding: 7px 0;
  border-bottom: 1px dashed #e6e6e6;
}
span.time {
  float: right;
}
